<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">

  alert("등록 작업이 완료되었습니다.");

</script>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=0.4">
    <title>vacation</title>
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/pages/dashboard.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

      <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a><a class="brand"><img src="../static/img/logo_HI.png" width="20" height="20">&nbsp;&nbsp;(주)홍익과학기술 &nbsp; 휴가 관리 시스템</a>
      </div>
    </div>
  </div>
<div class="container1">

<div class="text_center">
  <i class="fa-solid fa-xmark"></i>
    <br><br><br>

<div id="item">&nbsp;&nbsp;<span style="font-size: 4em; color: red; font-weight:bold"><strong><img src="../static/img/danger.png" width="50" height="50">&nbsp;안내</strong></span><br></div><br><br>

<li><span style="font-size: 1.5em; font-weight:bold">등록이 완료되었습니다. </span><br></li>
<li><span style="font-size: 1.5em; font-weight:bold">기존에 이미 등록되어 있는 고객사의 경우 추가 등록되지 않습니다..</span><br></li>
<li><span style="font-size: 1.5em; font-weight:bold">문의 사항이 있으시다면 TS팀 박찬우 매니저(tel. 010-9085-0857) 연락바랍니다. </span><br></li>


  </div>
</div>

<div class="footer footer-fixed-bottom">
  <div class="footer">
    <div class="footer-inner">
     <div class="container">
        <div class="row">
         <div class="span12"> &copy; Copyright 2022. HongikIT Co., Ltd. all rights reserved.</a>. </div>
          <!-- /span12 --> 
        </div>
      <!-- /row --> 
      </div>
     <!-- /container --> 
    </div>
   <!-- /footer-inner --> 
  </div>
</div>
</body>
</html>
