<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=0.1">
    <title>work_com_request</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
            rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/pages/dashboard.css" rel="stylesheet">
    <!-- CSS only -->

  
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../templates/overflow.js" type="text/javascript"></script>
    <script src="../js/popup.js" type="text/javascript"></script>

    <style>
      #left {
        padding-left: 120px;
        padding-top: 65px;
        padding-right:30px;
        width: auto;
        height: auto;
        float: left;
      }
      
      #right {
        padding-top: 65px;
        width: auto;
        float: left;
      }

      #request {
        width: 150px;
        margin-top: 370px;
        margin-left: -350px;
      }
      
      #chanwoogirlfreind {
        margin-left: 800px;
        margin-top: -387px;
      }

    </style>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container"> <a class="brand"><img src="../static/img/logo_HI.png" width="20" height="20">&nbsp;&nbsp;(주)홍익과학기술 &nbsp; 관제 통합보고서 시스템</a>
          </div>
        </div>
     </div>
      
     <div class="subnavbar">
      <div class="subnavbar-inner">
        <div class="container">
          <ul class="mainnav">
            <li class="active"><a href="/work_com_request"><br><img src="../static/img/icon/sunbed.png" width="20" height="20"><br>장애 내역 입력</a> </li>
            <li><a href="/client_com_request"><br><img src="../static/img/icon/calendar.png" width="20" height="20"><br>신규 고객사 등록</a></li>
            <li><a href="/client_log"><br><img src="../static/img/icon/date.png" width="20" height="20"><br>전채 고객사 조회</a> </li>            
            <li><a href=""><br><img src="../static/img/icon/list.png" width="20" height="20"><br>기존 고객사 삭제 </a> </li>
            <li><a href=""><br><img src="../static/img/icon/delete.png" width="20" height="20"><br>통계 보고서 출력</a> </li>
          </ul>
        </div>
        <!-- /container --> 
      </div>
      <!-- /subnavbar-inner --> 
    </div>

    <center><h1><strong>솔트웨어 관제 장애 내역 등록</strong></h1></center>
      <br>
      <center><strong><h5>
      <p>관제 서비스 장애 내역 등록 페이지입니다.</p> </br>
      <p>신규 고객사의 경우 고객사 등록을 선 순위로 진행하여야 합니다..</p>

     
    <form action="/work_com_request_click" method="post" class="wrap_form" >
      <div id="center">
        <div class="mb-3">
          <label class="form-label"><strong><br><h3>고객사명<h3></strong></label>
          <input type="text" name="cliname" class="form-control" id="cliname">
        </div>

      <div class="mb-3">
          <label class="form-label" ><strong><br><h3>고객분류</h3></strong></label>
          <input id="check1" type="checkbox" name="pointCheck" value="중요 고객" onClick="checking_1();" /> 중요 고객
          <input id="check2" type="checkbox" name="pointCheck" value="일반 고객" onClick="checking_2();" /> 일반 고객
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>장애분류<h3></strong></label>
        <select name="occur", id="occur">
          <option value="미 분류">미 분류</option>
          <option value="알람-LV1">알람-LV1</option>
          <option value="알람-LV2">알람-LV2</option>
          <option value="알람-LV3">알람-LV3</option>
          <option value="티켓-일반문의">티켓-일반문의</option>
          <option value="티켓-장애문의">티켓-장애문의</option>
          <option value="통화-수신">통화-수신</option>
          <option value="통화-발신">통화-발신</option>
          <option value="통화-부재중">통화-부재중</option>
          <option value="계정통합-입점">계정통합-입점</option>
          <option value="RSS-Status">RSS-Status</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>건수<h3></strong></label>
        <input type="number" min="0" max="100" name="nmtime" class="form-control" id="nmtime">
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>조치내역<h3></strong></label>
        <input type="text" name="action" class="form-control" id="action">
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>담당자<h3></strong></label>
        <input type="text" name="charge" class="form-control" id="charge">
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>수행내용<h3></strong></label>
        <select name="perform", id="perform">
          <option value="배정">배정</option>
          <option value="배정/유선연락">배정/유선연락</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>일자<h3></strong></label>
        <input type="date" name="day" class="form-control" id="day">
      </div>

      <div class="mb-3">
        <label class="form-label"><strong><br><h3>비고<h3></strong></label>
        <input type="text" name="comment" class="form-control" id="comment">
      </div>

      
      <div class="mb-3">
          <button id="request" type="submit" class="btn btn-primary">
          <h3>등록하기</h3></button>
      </div>
     

      <div id="chanwoogirlfreind">
        <!--<img src="../static/img/chanwoogirlfreind.jpg" width="300" height="300">
          --> 
      </div>
    </form>
  


<!-- modal 영역 -->
<div class="modal-bg" onClick="javascript:popClose();"></div>
<div id="modal01" class="modal-wrap">
  등록 작업이 완료되었습니다. <br>
<button class="modal-close" onClick="javascript:popClose();">닫기</button>
</div>
<!-- //modal 영역 -->  

    
<div class="footer footer-fixed-bottom">
    <div class="footer">
      <div class="footer-inner">
       <div class="container">
          <div class="row">
           <div class="span12"> &copy; Copyright 2023. HongikIT Co., Ltd. all rights reserved.</a>. </div>
            <!-- /span12 --> 
          </div>
        <!-- /row --> 
        </div>
       <!-- /container --> 
      </div>
     <!-- /footer-inner --> 
    </div>
  </div>

<script>


const checking1 = document.querySelector('#check1');
const checking2 = document.querySelector('#check2');


function checking_1() {
	if(checking1.checked == true) {
    checking2.checked = false;
    }
   }
function checking_2() {
	if(checking2.checked == true) {
    checking1.checked = false;
    }
   }
  
   $('.btn btn-primary').each(function() {
    var modalID = $(this).attr('href');
    var modalBg = $('.modal-bg');
  
    $(this).on('click', function(e) {
      e.preventDefault();

      modalBg.fadeIn();
      
      $(modalID).show();

      $('html').css({overflow: 'hidden'});
    });

    $('.modal-bg, .modal-close').on('click', function() {
      modalBg.fadeOut();
      $(modalID).hide();
      $(modalID).removeAttr('style');

      $('html').removeAttr('style');
    });
  });

</script>
</body>
</html>